<!--
<ul>
  <a routerLink="/calc" routerLinkActive="active">Go to Calc</a>
  <li *ngFor="let hero of peoples">
    {{ hero.employee_name }}
  </li>
</ul>
<form [formGroup]='demoForm' novalidate>

  <div class="example-container">
    <mat-form-field>
      <input matInput formControlName='task' placeholder="Input">
    </mat-form-field>
    <mat-form-field>
      <input matInput formControlName='address' placeholder="Input">
    </mat-form-field>
    <mat-form-field>
      <input matInput formControlName='password' placeholder="Input">
    </mat-form-field>
    <button mat-raised-button type="submit" (click)="onSubmit()">Save</button>
  </div>

</form> -->
<app-eventcard-navbar>

</app-eventcard-navbar>

<router-outlet></router-outlet>
